@import "syntax-variables";

/* @group Editor */

:host,
atom-text-editor,
atom-text-editor::shadow {

  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {

      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .wrap-guide {
    color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .search-results {

    .marker {

      .region {
        background-color: transparent;
        border: @syntax-result-marker-color;
      }

      &.current-result .region {
        border: @syntax-result-marker-color-selected;
      }
    }
  }

  .cursor {
    border: none;
    border-bottom: 2px solid fadeout(@syntax-cursor-color, 50%);
    background-color: fadeout(@syntax-cursor-color, 95%);
  }

  .selection .region {
    background-color: fadeout(@syntax-selection-color, 75%);
  }

  .line-number.cursor-line-no-selection {
    background-color: fadeout(@syntax-cursor-color, 75%);
  }

  &.is-focused,
  &.is-focused::shadow {
    
    .selection .region {
      background-color: @syntax-selection-color;
    }

    .line.cursor-line {
      background-color: fadeout(@syntax-cursor-color, 97.5%);
    }
  }

  atom-text-editor-minimap {
    background: fadeout(darken(@syntax-background-color, 15%), 75%);
  }

}

/* @end */

/* @group Syntax */

.comment,
.comment.block.html .invalid {
  color: lighten(@syntax-text-color, 25%);
  background-color: fadeout(@syntax-text-color, 90%);
}

.comment .comment {
    background-color: transparent;
}

.keyword,
.storage {
  color: #F33;
}

.keyword.operator {
  color: #990;
}

.punctuation.separator {
  color: #99C;
}

.variable {
  color: #336;
}

.constant,
.support {
  color: @syntax-color-constant;
}

.constant.numeric {
  color: #C60;
}

.punctuation.definition.constant {
  color: #CCF;
}

.string {
  font-style: italic;
  color: #996;
  background-color: rgba(255, 255, 0, 0.07);

  .variable,
  .source {
    color: #663;
  }
}

.invalid {
  color: #F00;
  background-color: #900;

  &.deprecated {
    color: #CDCDCD;
    background-color: #CC99CC;
  }
}

.entity {
  color: @syntax-color-variable;
}

.entity.name.tag,
.source.sass .keyword.control.untitled {
  color: @syntax-color-variable;
  background-color: fadeout(@syntax-color-variable, .1);
}

.entity.other {
  color: #99F;
}

/* @group DIFF */

.source.diff,
.markup.inserted.diff,
.markup.deleted.diff,
.meta.diff.header.to-file,
.meta.diff.header.from-file {
}

.markup.inserted.diff,
.meta.diff.header.to-file {
  color: #090;
  background-color: rgba(0, 255, 0, 0.2);
}

.markup.deleted.diff,
.meta.diff.header.from-file {
  color: #900;
  background-color: rgba(255, 0, 0, 0.2);
}

.meta.diff.header.from-file,
.meta.diff.header.to-file {
  color: @syntax-color-variable;
}

.meta.diff.range {
  font-style: italic;
  color: rgba(153, 153, 255, 0.6);
}

/* @end */

.text.html.markdown {
}

.markup {

  &.heading {
    color: #996;
    background-color: rgba(255, 255, 0, 0.07);

    .entity.name {
      color: #663;
      background-color: rgba(255, 255, 0, 0.2);
    }
  }

  &.list {
    color: #6c96b6;
  }

  &.italic {
    font-style: italic;
  }

  &.bold {
    font-weight: bold;
  }
}

/* @end */
